*.o
Makefile
.qmake.stash
*.pro.user
CustomWidgets/Fridge-Whiteboard/Canvas/Canvas/tmp/
Makefile.SmartRefrigerator-app
moc_predefs.h
moc_qmlapplicationviewer.cpp
moc_SlidingStackedWidget.cpp
moc_fridgecalendar.cpp
moc_fridgecontents.cpp
moc_fridgeepiscreen.cpp
moc_fridgewebbrowser.cpp
moc_fridgewhiteboardscreen.cpp
moc_fridgezonesscreen.cpp
moc_homescreen.cpp
moc_mainwindow.cpp
moc_mydeclarativewebview.cpp
moc_overlaycontrols.cpp
moc_xmlparser.cpp
output/
qrc_CalendarResources.cpp
qrc_MainScreenResources.cpp
qrc_firdgeContents.cpp
qrc_mainResource.cpp
qrc_overlayResources.cpp
qrc_webBrowserResources.cpp
qrc_whiteboard.cpp
qrc_zoneResources.cpp
ui_fridgecalendar.h
ui_fridgecontents.h
ui_fridgeepiscreen.h
ui_fridgewebbrowser.h
ui_fridgewhiteboardscreen.h
ui_fridgezonesscreen.h
ui_homescreen.h
ui_mainwindow.h
ui_overlaycontrols.h
.stamp_*
.applied_patches_list
.br_filelist_after
.br_filelist_before
